
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Background position utilities */
  .bg-size-200 {
    background-size: 200% 100%;
  }
  
  .bg-pos-0 {
    background-position: 0% 0%;
  }
  
  .bg-pos-100 {
    background-position: 100% 0%;
  }
}
